# Load packages

In [1]:
import time
import numpy as np
import pandas as pd

# Load data

In [2]:
kp_df=[]
years_list = [2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002]
for year in years_list:
    temp_kp_df = pd.read_csv("Data/Ken Pom/KP" + str(year) + "_final.csv")
    temp_kp_df['Season'] = year
    year_last = year   
    if year==2019:
        kp_df = temp_kp_df
    else:
        kp_df = kp_df.append(temp_kp_df)

In [3]:
kp_df.head()

           team conf  adjem   adjo  adjd   luck  Season
0      Virginia  ACC  35.66  123.6  87.9  0.024    2019
1       Gonzaga  WCC  32.79  125.1  92.3  0.008    2019
2          Duke  ACC  31.99  120.1  88.1  0.018    2019
3  Michigan St.  B10  31.36  121.7  90.4 -0.007    2019
4      Michigan  B10  29.44  115.5  86.1 -0.014    2019

In [4]:
kp_df.tail()

                    team  conf  adjem  adjo   adjd   luck  Season
322         Nicholls St.  Slnd -26.22  87.1  113.3 -0.070    2002
323  Arkansas Pine Bluff  SWAC -28.85  82.2  111.1 -0.014    2002
324     Mount St. Mary's   NEC -29.36  85.1  114.5  0.019    2002
325         Morris Brown   ind -29.95  85.1  115.1  0.044    2002
326         Savannah St.   ind -31.15  78.1  109.2 -0.021    2002

In [5]:
kp_df['Season'].value_counts(dropna=False)

2019    353
2018    351
2014    351
2015    351
2017    351
2016    351
2010    347
2013    347
2012    345
2011    345
2009    344
2008    341
2007    336
2006    334
2005    330
2002    327
2003    327
2004    326
Name: Season, dtype: int64

In [6]:
kp_df['team'] = kp_df['team'].str.lower()

# Match Team IDs to data

In [7]:
teams_df = pd.read_csv('Data/Kaggle NCAA/TeamSpellings.csv', sep='\,', engine='python')

In [8]:
teams_df.head()

     TeamNameSpelling  TeamID
0    a&m-corpus chris    1394
1  a&m-corpus christi    1394
2         abilene chr    1101
3   abilene christian    1101
4   abilene-christian    1101

In [9]:
kp_df = pd.merge(kp_df, teams_df, left_on=['team'], right_on = ['TeamNameSpelling'], how='left')
kp_df = kp_df.drop(['TeamNameSpelling'], axis=1)

In [10]:
kp_df['Season'].value_counts(dropna=False)

2019    353
2018    351
2014    351
2015    351
2017    351
2016    351
2010    347
2013    347
2012    345
2011    345
2009    344
2008    341
2007    336
2006    334
2005    330
2002    327
2003    327
2004    326
Name: Season, dtype: int64

In [11]:
kp_df.head()

           team conf  adjem   adjo  adjd   luck  Season  TeamID
0      virginia  ACC  35.66  123.6  87.9  0.024    2019  1438.0
1       gonzaga  WCC  32.79  125.1  92.3  0.008    2019  1211.0
2          duke  ACC  31.99  120.1  88.1  0.018    2019  1181.0
3  michigan st.  B10  31.36  121.7  90.4 -0.007    2019  1277.0
4      michigan  B10  29.44  115.5  86.1 -0.014    2019  1276.0

# Write the data to a csv

In [12]:
kp_df.to_csv('Data/~Created data/kp_all.csv', index=False)